* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #effaf6;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: green;
    background-color: rgb(218, 231, 229);
    padding: 10px;
    margin: 20px 0px;
}

h2, h3, h4, h5, h6,
p,
ol, ul,
.food-image {
    margin: 10px;
}

ol, ul {
    padding-left: 40px;
}

li {
    margin-bottom: 10px;
}

h2, h3, h4, h5, h6 {
    color: green;
}

.food-image {
    border: 2px solid black;
}